/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div,  applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #f3f3f4;
}
.wrapper{
  padding-top: 104px;
}
.wrapper-content{
    padding: 15px;
}
.sel-search{
    padding-bottom: 10px;
}
.news-search {
     padding: 10px 10px;
     margin-bottom: 10px; 
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #409EFF;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.box{
    clear: both;
    margin-top: 0px;
    padding: 0px;
}
.box-title{
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.box-tools{
        float: none;
    text-align: right;
    display: block;
        display: inline-block;
    float: right;
    margin-top: 0px;
    position: relative;
    padding: 0px;
}
.box-title h5 {
    display: inline-block;
    font-size: 14px;
    text-overflow: ellipsis;
    float: left;
    margin: 0px 0px 7px;
    padding: 0px;
}
.box-content{
    background-color: rgb(255, 255, 255);
    color: inherit;
    -webkit-border-image: none;
    padding: 15px 20px 20px;
    border-color: rgb(231, 234, 236);
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.page{
    position: fixed;
    bottom: 0;
    height: 34px;
    width: 100%;
    background: #fff;
}
/* .el-table td{
    font-size: 12px;
} */
